header.navigation {
  background-color: #000000;
  color: $navigation-color;
  font-weight: 300;
  font-size: 1em;
  letter-spacing: 1px;
  line-height: 1.1em;

  .inner {
    @include outer-container;
    nav {
      // @include span-columns(3 of 4);
      @include media($xtra-large-screen-up) {
        @include span-columns(6 of 12);
      }
    }
    .social {
      @include span-columns(4 of 4);
      // display: inline-block;
      @include media($xtra-large-screen-up) {
        display: block;
        @include span-columns(6 of 12);
      }
    }
    .site-name {
      font-weight: bold;
      -webkit-font-smoothing: antialiased;
      padding: 0.8em 0.8em 0.5em;
      @include media($medium-screen-up) {
        padding: 0.8em 0em 0.8em 0.8em;
      }
      // @include media($large-screen-up) {
      //   padding: 0.8em 0em 0.8em 0em;
      // }
      @include media($xtra-large-screen-up) {
        padding: 0.8em 0em 0.8em 0em;
      }
    }
    .podcast-name {
      padding: 0.5em 0.8em 0.8em;
      @include media($medium-screen-up) {
        padding: 0.8em 0.8em 0.8em 0em;
      }
      // @include media($large-screen-up) {
      //   padding: 0.8em 0em 0.8em 0em;
      // }
      @include media($xtra-large-screen-up) {
        padding: 0.8em 0em 0.8em 0em;
      }
    }
    .social {
      text-align: right;
      a {
        padding: 0.8em 1em;
      }
      a.highlight {
        background-color: $navigation-color-hover;
        color: $navigation-color;
        &:hover {
          color: $navigation-color-hover;
          background-color: black;
        }
      }
    }
  }

  a {
    color: $navigation-color;
    padding: 0.8em;
    &:hover {
      color: $navigation-color-hover;
    }
    display: block;
    @include media($medium-screen-up) {
      display: inline-block;
    }
    @include media($large-screen-up) {
      display: inline-block;
      padding: 0.8em 0.8em 1.1em;
    }
  }
}
