header.navigation {
  $navigation-color: #ffffff;
  $navigation-color-hover: $light-blue;

  background-color: #000000;
  color: $navigation-color;
  font-weight: 300;
  letter-spacing: 1px;

  .inner {
    @include outer-container;
    padding: 0.5em 0.5em 0.6em;
    nav {
      @include span-columns(10);
    }
    .site-name {
      font-size: 1.1em;
    }
    ul.social {
      @include span-columns(2);
      font-size: 1.1em;
      li {
        display: inline-block;
      }
    }
  }

    a {
      display: inline-block;
      color: $navigation-color;
      padding: 0.2em;
      &:hover {
        color: $navigation-color-hover;
      }
    }
}
