img, embed, object, video {max-width: 100%;}

*, *:after, *:before {
  -webkit-box-sizing: border-box; /* Safari <= 5*/
     -moz-box-sizing: border-box; /* Firefox <= 19*/
          box-sizing: border-box;
}

.social-sharing {

    background-color: #fff;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;

    a {
        display: inline-block;
        img {
            width: 60px;
            vertical-align: middle;
        }
    }
    a:hover {
        opacity: .7;
    }
}