@import 'bourbon';
@import 'base/grid-settings';
@import 'neat';
@import 'base/base';
@import 'navigation';
@import 'mediaelement_rails/mediaelementplayer';
@import 'mediaelement_rails/mejs-skins';

html, body {
  padding: 0;
  margin: 0;
}

#podcast {
  background: #eeeeee;
  .inner {
    @include outer-container;
    padding: 1em;
    @include media($xtra-large-screen-up) {
      padding: 2em 0em;
    }
    img {
      float: left;
      margin-right: 1em;
      @include media($large-screen-up) {
        margin-right: 2em;
      }
      max-width: 25%;
      height: auto;
    }
    .title {
      @include h1;
      a {
        color: #000000;
      }
    }
    .body {
      margin: 0.75em 0 0.5em;
    }
    ul.podcast-links {
      li {
        display: inline;
        &:after {
          content: "•";
          padding: 0.5em;
        }
        &:last-child {
          &:after {
            content: '';
            padding: 0;
          }
        }
      }
    }
  }
}

#content {
  @include outer-container;
  padding: 2em 1em;
  @include media($xtra-large-screen-up) {
    padding: 2em 0;
  }
}

#audio-player {
  margin: 1em 0;
  p {
    margin: 0.5em 0;
  }
}
