@import 'bourbon';
@import 'base/grid-settings';
@import 'neat';
@import 'base/base';
@import 'navigation';
@import 'podcasts';
@import 'episodes';
@import 'social-styles';

html, body {
  padding: 0;
  margin: 0;
}


#content {
  @include outer-container;
  padding: 1em 1em;
  @include media($xtra-large-screen-up) {
    padding: 2em 0;
  }
}

#audio-player {
  // margin: 1em 0;
  // p {
  //   margin: 1em 0;
  // }
  audio {
    margin: 1em 0 1em;
  }
}
// .audiojs {
//   width: 100%;
//   .play-pause {
//     width: auto;
//   }
//   .scrubber {
//     width: 45%;
//     @include media($medium-screen-up) {
//       width: 65%;
//     }
//     @include media($large-screen-up) {
//       width: 75%;
//     }
//   }
// }


ul.category-list {
  li {
    list-style-type: disc;
  }
  margin-left: 1rem;
}