@import 'bourbon';
@import 'base/grid-settings';
@import 'neat';
@import 'base/base';
@import 'navigation';
@import 'podcasts';
@import 'episodes';
@import 'mediaelement_rails/mediaelementplayer';
@import 'mediaelement_rails/mejs-skins';

html, body {
  padding: 0;
  margin: 0;
}


#content {
  @include outer-container;
  padding: 2em 1em;
  @include media($xtra-large-screen-up) {
    padding: 2em 0;
  }
}

#audio-player {
  margin: 1em 0;
  p {
    margin: 1em 0;
  }
}

ul.category-list {
  li {
    list-style-type: disc;
  }
  margin-left: 1rem;
}