@import 'bourbon';
@import 'base/grid-settings';
@import 'neat';
@import 'base/base';

#podcast, #content {
  @include outer-container;
}

html, body {
  padding: 0;
  margin: 0;
}

header {
  background: #000000;
  color: #eeeeee;
  font-size: 0.9em;
  font-weight: 300;
  padding: 0.75em;
  margin-bottom: 1em;
  h2 {
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 0;
  }
  @include media($large-screen-up) {
    font-size: 1em;
  }
  a, span {
    color: #ffffff;
    &:hover {
      color: #018fe2;
    }
  }
  span.site-name {
    font-weight: bold;
    text-transform: uppercase;
    span {
      font-weight: normal;
      text-transform: none;
    }
  }
  span#connect {
    display: none;
    @include media($medium-screen-up) {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
    }
    a {
      display: inline-block;
      font-size: 0.9em;
      padding: 0.75em;
    }
  }
}