<% @podcasts.each do |podcast| %>
  <article>
    <div><%= cl_image_tag(podcast.image, :alt => "Sample Image", :width => 180, :height => 180, :crop => :fill) %></div>
    <div>
      <h3><%= link_to podcast.title, podcast_path(podcast) %></h3>
      <p><%= podcast.body %></p>
    </div>
  </article>
  <br /><br />
<% end %>

<br>

<%= link_to 'New Podcast', new_podcast_path %>

<% content_for :title do %>
  brick.media
<% end %>