<ul class="episode-list">
  <% @podcast.episodes.each do |episode| %>
    <li class="episode-link"><%= link_to episode.title, episode_show_path(episode.podcast.path, episode.number) %></li>
  <% end %>
</ul>

<% content_for :title do %>
  <%= @podcast.title %>
<% end %>

<% content_for :header do %>
  <h2><%= link_to Brick::SITENAME, root_path %> &gt; <%= link_to @podcast.title, podcast_path(@podcast) %></h2>
<% end %>
